.same
{
    background-color: darkturquoise;
}
#diff
{
    background-color: darkgreen;
}
.para
{
    color:crimson;
}
h1
{
    color:white;
}









#font1
{
    font-size: 20px;
}
#font2
{
    font-size: 30px;
}
#font3
{
    font-size: 40px;
}
#f1
{
    font-size: 20px;
}
#f2
{
    font-size: 30px;
}
#f3
{
    font-size: 40px;
}